# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# Streamlit & caches
.streamlit/
.cache/
huggingface/
hf_cache/
.conda/

# Project artifacts
dist/
build/
logs/
models/
data/
datasets/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Git
.git/
.gitignore